
<link type="text/css" href="/css/faq/faq.css" rel="stylesheet" />

#parse("/main/header.vm")


    <div class="wrap noticelist_contents">
        <div class="noticelistPage_Header">
            <h1>공지사항</h1>
        </div>
        <div class="noticetablecontents">
            <table class="notice_list">
                <tr>
                    <th class="notice_sub no">번호</th>
                    <th class="notice_sub subject">제목</th>
                    <th class="notice_sub id">작성자</th>
                    <th class="notice_sub regDate">작성일</th>
                    <th class="notice_sub viewct">조회수</th>
                </tr>
                #foreach($noticeTop in $notice.topList)
                <tr>
                    <td class="fixed_list no_body">$foreach.count</td>
                    <td class="fixed_list subject_body">
                        <a href="/noticeDetail?notice_id=$noticeTop.id">
                            <span class="titOfNotice">$noticeTop.subject</span>
                        </a>
                    </td>
                    <td class="fixed_list id_body">관리자</td>
                    <td class="fixed_list regDate_body">$date.format('yyyy-MM-dd', $!{noticeTop.regDate})</td>
                    <td class="fixed_list viewct_fx">$noticeTop.viewcount</td>
                </tr>
                #end
                #foreach($Notice in $notice)
                <tr>
                    <td class="no_body">$foreach.count</td>
                    <td class="subject_body">
                        <a href="/noticeDetail?notice_id=$Notice.noticeList.id">
                            <span class="titOfNotice">$Notice.noticeList.subject</span>
                        </a>
                    </td>
                    <td class="id_body">관리자</td>
                    <td class="regDate_body">$date.format('yyyy-MM-dd', $!{Notice.noticeList.regDate})</td>
                    <td class="viewct_">$Notice.noticeList.viewcount</td>
                </tr>
                #end
            </table>
        </div>
    </div>
    <!-- //container -->
#parse("/main/footer.vm") 

