#parse("/main/header.vm")
<link type="text/css" href="/css/product/productCommon.css?v=1747Fr" rel="stylesheet" />
<style>
    * {
        margin:0;
        padding:0;
    }

</style>


<div class="layout-structure-content">

    <div class="quickmenu_right" id="quickmenu_right">

        <div class="banner_first">
            
            <div class="banner_first_images mySlides">
                <a href="/event?eid=34">
                    <img src="/img/right_side/rightside_banner3.png" alt="Flalia 단독쿠폰 10%">
                </a>
            </div>
            <div class="banner_first_page">
                <button class="prev1" onclick="plusDivs(-1)">이전</button>
                <button class="next1" onclick="plusDivs(1)">다음</button>
            </div>
        </div>
        <div class="banner_second">
            <div class="banner_second_images">
                <a href="/event?eid=30">
                    <img src="/img/right_side/rightside_banner4.png" alt="20%쿠폰발급">
                </a>
            </div>
          
            <div class="banner_second_images">
                <a href="/sns/appDown">
                    <img src="/img/right_side/rightside_banner2.png" alt="발그레 앱 다운로드">
                </a>
            </div>
            
            <div class="banner_second_page">
                <button class="prev2" onclick="plusdivs(-1)">이전</button>
                <button class="next2" onclick="plusdivs(1)">다음</button>
            </div>
        </div>
        <div class="Topbutton">
            <a href="#wrap" class="goTobtn"><img src="/img/right_side/topbutton.png"></a>
        </div>
    </div>


 <!-- S: 발그레랭킹 중분류 -->
        <div class="TopbannerOfevent">
        	#if($!pid == 12)
        	<img src="/img/eventPage/eventPage_image2.png">
        	#elseif($!pid == 11)
        	<img src="/img/eventPage/eventPage_image3.png">
        	#else
            <img src="/img/eventPage/eventPage_image1.png">
            #end
        </div>
        <div class="Btns_of_eventDetail">
            <table class="menu_eventDetail">
                <tr>
                    <td class="btnLinks">
                        <a href="/plan/detail?pid=12"><span>최애템 등극한 가성비 갑의 수분 영양 크림</span></a>
                    </td>
                    <td class="btnLinks">
                        <a href="/plan/detail?pid=11"><span>피부 달래는 컴 다운 아이템</span></a>
                    </td>
                </tr>                
            </table>
        </div>
   
    <!-- S: 상품 목록 -->
    <div class="exhibit best-moreover"  id="Pc_Ver">
        <ul class="balgeurebox-deal-list balgeurebox-deal-list-line-amount-3">
            #foreach($plan2 in $Plan2.planGroup)
                #if($!{plan2.stopGroup} == 0)
                <div class="planThumbnail">
                    <img src="//sumcrimage.cafe24.com/$!{plan2.thumbnail}"/>
                </div>
                #foreach($PlanProduct in $plan2.planProduct)
                <li class="balgeurebox-deal-wrapper segment_product_item">
                    <div class="balgeurebox-deal deal_type_vertical_square_amount_col_3">
                     <a href="/detail?product_id=${PlanProduct.product.productId}&sort=1">
                        <div class="balgeurebox-deal-info">

                        	<div class="balgeurebox-deal-image-wrap">
                        	#if($PlanProduct.product.autoSale > 0)
                            	<div class="badge_discount">
                                    <span class="discountCoupon"><span class="howmuchD">$PlanProduct.product.autoSale%</span><br>쿠폰<br>추가할인</span>
                                </div>
                            #else
                            #end
                                <img class="balgeurebox-deal-image"
                                     src="//sumcrimage.cafe24.com/$!{PlanProduct.product.thumbUrl}"/>
                            </div>
                            <div class="dealBody">
                            	<div class="dealhead">
	                                <span class="small_title_thum">&nbsp;</span>
	                                <span class="balgeurebox-deal-name-main">
	                                    $!{PlanProduct.product.brand.brandName} / $!{PlanProduct.product.prodName}
	                                </span>
	                            </div>
	                            <div class="dealPrice">
	                            	<div class="balgeurebox-deal-price-wrap">
	                             		<!--할인율 표기-->
	                                     #if(${PlanProduct.product.price} != ${PlanProduct.product.salePrice})
	                                    <div class="percent">
	                                        $!{PlanProduct.product.sale}                                       
	                                    </div>
	                                    <div class="balgeurebox-deal-price-unit">%</div>
	                                    #end
	                             	</div>
	                             	<div class="product_Ori_Price">
		                             	#if(${PlanProduct.product.price} != ${PlanProduct.product.salePrice})
	                                    <del class="fL">$number.format($!{PlanProduct.product.price})<span class="balgeurebox-deal-price-unit">원</span></del>
	                                    #end
	                                    <p class="balgeurebox-deal-price-result">
	                                        <span class="price_value">$number.format($!{PlanProduct.product.salePrice})</span>
	                                        <span class="unit">원</span>
	                                    </p>
	                             	</div>
	                            </div>
	                            #if($PlanProduct.product.reviewCount == 0)
	                            <span class="balgeurebox-deal-review-count-value"></span>
	                            #else
	                            <span class="balgeurebox-deal-review-count-value">${PlanProduct.product.reviewStar}점</span>
	                            #end
                            </div>

                            <div class="dealFoot">
                            	<div class="delivery_option_show">
	                                #if($!{PlanProduct.product.productDelivery.freeDelivery} == -1)
	                                	<span class="balgeurebox-deal-delivery-free">배송 $number.format($PlanProduct.product.productDelivery.deliveryPrice)원</span>
	                                #elseif($!{PlanProduct.product.productDelivery.freeDelivery} == 0)
	                                	<span class="balgeurebox-deal-delivery-shipping">
	                     					무료배송   
	                     				</span>
	                                #elseif($!{PlanProduct.product.productDelivery.freeDelivery} > 3000)
	                                <span class="balgeurebox-deal-delivery-limitfree">
	                                    조건부 무료배송
	                                </span>
	                                #end
	                            </div>
	                            
	                            #set($flag = false)
                            <!-- flag변수의 기본 값은 false -->
                            #foreach($wish in $Wish.wishList)
                            #if($PlanProduct.product.productId == $wish.product.productId)
                            <!-- 현재 뿌려진 상품의 id와 wish list에 있는 상품 id가 같을 때 -->
                            <!-- 변수 flag의 값은 true로 바뀌고 foreach break -->
                            #set($flag = true)
                            <!-- flag변수 true -->
                            #break
                            #end
                            #end
                            </a>
                            <div class="zzim_wishlist">
                                #if($flag)
                                <div class="go_to_wishlist_ZZim">
                                    <span class="zzimCheck2" name="product_id" value="${PlanProduct.product.productId}" title="찜하기" onclick="wishOverlap();"></span>
                                </div>
                                #else
                                <div class="go_to_wishlist_ZZim">
                                    <span class="zzimCheck" name="product_id" value="${PlanProduct.product.productId}" title="찜하기" onclick="wish(this, '${PlanProduct.product.productId}');">찜</span>
                                </div>
                                #end
                            </div>
                            </div>
                        </div>
                    </div>
                </li><!-- e: balgeurebox-deal-wrapper -->
            #end
            #end
            #end
        </ul>
    </div><!-- end: exhibit-moreover -->
   

    <div class="exhibit best-moreover newlist" id="mobile_ver">
        <ul class="balgeurebox-deal-list balgeurebox-deal-list-line-amount-3">
            #foreach($plan2 in $Plan2.planGroup)
                #if($!{plan2.stopGroup} == 0)
                <div class="planThumbnail">
                    <img src="//sumcrimage.cafe24.com/$!{plan2.thumbnail}"/>
                </div>
                #foreach($PlanProduct in $plan2.planProduct)
            <li class="balgeurebox-deal-wrapper segment_product_item">
                <div class="balgeurebox-deal deal_type_vertical_square_amount_col_3">
                      <a href="/detail?product_id=${PlanProduct.product.productId}&sort=1">
                            <div class="balgeurebox-deal-image-wrap">
                                 <img class="balgeurebox-deal-image"
                                     src="//sumcrimage.cafe24.com/$!{PlanProduct.product.thumbUrl}"/>
                            </div>
                            <div class="dealBody">
                                <div class="dealhead">
                                    <span class="small_title_thum">&nbsp;</span>
                                    <span class="balgeurebox-deal-name-main">
                                       $!{PlanProduct.product.brand.brandName} / $!{PlanProduct.product.prodName}
                                    </span>
                                </div>

                                <div class="dealPrice">
                                    <div class="balgeurebox-deal-price-wrap">
                                        <!--할인율 표기-->
                                        #if(${PlanProduct.product.price} != ${PlanProduct.product.salePrice})
                                        <div class="percent">
                                            $!{PlanProduct.product.sale} 
                                        </div>
                                        <div class="balgeurebox-deal-price-unit">%</div>
                                        #end
                                    </div>

                                    <div class="product_Ori_Price">
                                        #if(${PlanProduct.product.price} != ${PlanProduct.product.salePrice})
                                        <del class="fL">$number.format($!{PlanProduct.product.price})<span class="balgeurebox-deal-price-unit">원</span></del>
                                        #end

                                        <p class="balgeurebox-deal-price-result">
                                            <span class="price_value">$number.format($!{PlanProduct.product.salePrice})</span>
                                            <span class="unit">원</span>
                                        </p>

                                    </div>
                                </div>
                                
                                <div class="delivery_option_show">
	                                #if($!{PlanProduct.product.productDelivery.freeDelivery} == -1)
	                                	<span class="balgeurebox-deal-delivery-free">배송 $number.format($PlanProduct.product.productDelivery.deliveryPrice)원</span>
	                                #elseif($!{PlanProduct.product.productDelivery.freeDelivery} == 0)
	                                	<span class="balgeurebox-deal-delivery-shipping">
	                     					무료배송   
	                     				</span>
	                                #elseif($!{PlanProduct.product.productDelivery.freeDelivery} > 3000)
	                                <span class="balgeurebox-deal-delivery-limitfree">
	                                    조건부 무료배송
	                                </span>
	                                #end
	                            </div>
                                
                                
                                #if($PlanProduct.product.reviewCount == 0)
                                <span class="balgeurebox-deal-review-count-value"></span>
                                #else
                                <span class="balgeurebox-deal-review-count-value">${PlanProduct.product.reviewStar}점</span>
                                #end
                            </div>
                            
                         </a>

                </div>
            </li><!-- e: balgeurebox-deal-wrapper -->
            #end
            #end
            #end
        </ul>
    </div><!-- end: exhibit-moreover -->
    <!-- E: 상품목록 -->




</div><!-- end: layout-structure-content-->
<!-- //container -->

<script>
function wish(frm, p_id) {

	$.ajax ({
		type: "POST",
		url: "/wish/add?product_id="+p_id,
		contentType: false,
		processData: false,
		success: function(data) {
			if (data.resultCode == "200") {
				alert("해당 상품이 찜 목록에 추가 되었습니다.");
				$(frm).css('background','url("/img/balgeure_icons.png") -144px -6px');
				getHeaderInfo();
			} else {
				alert("찜하기는 로그인 후 사용 가능합니다.");
				
				window.location.href="/login";
    			return;
			}
		},
		error: function(request, status, error) {
			alert("관리자에게 문의 하시기 바랍니다.");
		}
	});
}

function wishOverlap() {
	alert('이미 찜한 상품입니다.');
}
</script>



<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("banner_first_images");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 3000); // Change image every 3 seconds
}

</script>

<script>
var slideIndex = 1;
showdivs2(slideIndex);

function plusdivs(n) {
  showdivs2(slideIndex += n);
}


function showdivs2(n) {
	  var i;
	  var x = document.getElementsByClassName("banner_second_images");
	  if (n > x.length) {slideIndex = 1}
	  if (n < 1) {slideIndex = x.length}
	  for (i = 0; i < x.length; i++) {
	     x[i].style.display = "none";
	  }
	  x[slideIndex-1].style.display = "block";
	}

</script>


<script>
var myIndex = 0;
carousel2();

function carousel2() {
    var i;
    var x = document.getElementsByClassName("banner_second_images");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel2, 2000); // Change image every 2 seconds
}

</script>



<script type="text/javascript">
$(document).ready(function() {
	var defY = 19;
	console.log($(document).scrollTop());
	if($(document).scrollTop() > 0) {
		defY = $(document).scrollTop() - 181	;
	}
 /* quick menu */
 $(".quickmenu_right").animate( { "top": defY +"px" }, 100 ); // 빼도 된다.
 $(window).scroll(function(){
	 if ($(document).scrollTop() < 400) {
  		$(".quickmenu_right").stop().animate( { "top": 19 +"px" }, 0 );
	 } else {
  		$(".quickmenu_right").stop().animate( { "top": $(document).scrollTop() + -181 + "px" }, 0 );
	 }
 });
});

</script>
#parse("/main/footer.vm")