#parse ("/main/header.vm")
<link type="text/css" href="/css/product/productCommon.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/css/deal_add.css">

    <!-- 모바일 버전 css -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/mobile/productDetail_css.css">   
    <!-- 모바일 버전 css -->
<style>
	.price {
		font-weight: bold;
	}
	.productPrice {
		float: right;
		font-weight: bold;
		text-align: right;
	}
	.productCount {
		float: left;
	}
</style>

<!-- tab -->
<link type="text/css" href="/css/product/tab.css" rel="stylesheet">

<script type="text/javascript" src="/js/product/tab.js"></script>
<!-- tab -->
## jquery number formatting
<script src="/js/jquery.number.min.js" type="text/javascript"></script>
<script src="/js/scrollspy/scrollspy.js" type="text/javascript"></script>
<script type="text/javascript" src="http://pay.naver.com/customer/js/naverPayButton.js" charset="UTF-8"></script> 
<script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<!-- 네이버페이  -->
<script type="text/javascript" >
//var IMP = window.IMP; // 생략가능
	IMP.init('$!{iamport}'); // 'iamport' 대신 부여받은 "가맹점 식별코드"를 사용
	
//<![CDATA[ 
	function checkOption(selectBox, nonSelectedIndex, optionName) {     
		if (selectBox.selectedIndex == nonSelectedIndex) {         
			alert("상품 옵션을 선택해 주세요. (" + optionName + ")");         
			return false;     
		}     
		return true; 
	} 
 
	function checkShippingPrice(radio) {     
		var len = radio.length;     
		if (len == undefined) {         
			if (radio.checked) {             
				return true;         
			}     
		} else {         
			for(var i = 0; i < len; i++) {             
				if(radio[i].checked) {                 
					return true;             
				}         
			}     
		}     
		alert("배송비를 선택해 주세요.");     
		return false; 
	} 
 
	function buy_nc() {  
		#if(!$!login)
    		alert("로그인 하신 후 옵션을 선택해주세요.");
    		window.location.href="/login";
    		return;
    	#end
    	
		if ( $('.orders li').length == 0 ) {
			alert("상품 옵션을 선택해 주세요.");         
			return false;     
		} 
			
		
		var formData = $("#ReadingInfoSelectForm").serialize();
        $.ajax({
            type: 'post',
            url: '/naverpay/buy',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            processData: false,
            data: formData,
            success: function (data) {
            	console.log(data);
        		payment(data);
            },

            error: function (data, textStatus, errorThrown) {
            }
        });
	   return true; 
	} 
 	
	function payment(payment) {
		var payMethod = $("#pay_type").val();
		IMP.request_pay({
			pg : 'naverco',
		    pay_method : 'card',
		    merchant_uid : payment.payment.merchantUid,
		    name : payment.payment.name,
		    amount : payment.payment.totalPayment,
		    buyer_email : payment.payment.buyer_email,
		    buyer_name : payment.payment.buyer_name,
		    buyer_tel : payment.payment.buyer_tel,
		    buyer_addr : payment.payment.buyer_addr,
		    buyer_postcode : payment.payment.buyer_postcode,
		    naverProducts : payment.npList
		}, function(rsp) {
			console.log(rsp);
		    if ( rsp.success ) {
		        var msg = '결제가 완료되었습니다.';
		        msg += '고유ID : ' + rsp.imp_uid;
		        msg += '상점 거래ID : ' + rsp.merchant_uid;
		        msg += '결제 금액 : ' + rsp.paid_amount;
		        msg += '카드 승인번호 : ' + rsp.apply_num;

		        $("#payment_id").val(payment.paymentId);
		        $("#merc_id").val(rsp.merchant_uid);
		        $("#imp_id").val(rsp.imp_uid);
		        $('#complete').submit();
		    } else {
		        var msg = '결제에 실패하였습니다.';
		        msg += '에러내용 : ' + rsp.error_msg;
		        alert(msg);
		    }
		});
	}
	
	function wishlist_nc(url) {     
		// 네이버페이로 찜 정보를 등록하는 가맹점 페이지 팝업 창 생성.     
		// 해당 페이지에서 찜 정보 등록 후 네이버페이 찜 페이지로 이동.     
		     
		var formData = $("#ReadingInfoSelectForm").serialize();
        $.ajax({
            type: 'post',
            url: '/naverpay/wish',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            processData: false,
            data: formData,
            success: function (data) {
            	console.log(data);
            	window.open("https://test-pay.naver.com/customer/wishlistPopup.nhn?SHOP_ID=balgeure&ITEM_ID="+data,"","scrollbars=yes,width=400,height=267");
            	//$("#ORDER_ID").val(data);
            	//$("#naverOrderForm").submit();
            },

            error: function (data, textStatus, errorThrown) {
            }
        });
        
		return false; 
	}
 
	function not_buy_nc() {     
		alert("죄송합니다. 네이버페이로 구매가 불가한 상품입니다.");     
		return false; 
	}                                             
//]]>
</script> 
<!-- container -->
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
<div id="container" class="mA ">


    <div class="lnb">
        <div class="lnbBoxWrap">
            <a href="/" class="fL homeLink">
                <span class="homeIcon"><img src="/img/myPage/home-icon.png"></span>
            </a>
            <div class="subdivide fL"></div>

            <div class="select fL">
                #set($lv4=false)
                #set($lv3P=0)
                #set($parentCtg = 0)
                #foreach($prodCtg in $choiceDetailProduct.productCategory)
                #if($prodCtg.category.menuDepth == 4)
                #set($lv4=true)
                #set($lv3P=$prodCtg.category.menuParent)
                #end
                
                #foreach($Category in $category)
                #if($prodCtg.category.menuParent == $Category.lv2_id || $lv3P == $Category.lv3_id)
                <p><a href="/categoryDetail?parent=0&menu_id=$Category.lv2_id&sort=1">$Category.lv2</a></p>
                #set($parentCtg=$Category.lv2_id)
                #break
                #end
                #end

                #if($parentCtg != 0)
                #break;
                #end
                #end
                <span class="grayArrow"></span>
                <div class="option">
                    #foreach($Category in $category)
                    #if($dd != $Category.lv2_id)
                    <ul>
                        <li class="fir">
                            <a href="/categoryDetail?parent=0&menu_id=$Category.lv2_id&sort=1">$Category.lv2</a>
                        </li>
                    </ul>
                    #end
                    #set($dd = $Category.lv2_id)
                    #end
                </div>
            </div>
            <!-- E : select-->
            <div class="subdivide fL"></div>
            <!-- E : 하위 카테고리 기호 categoryId2-->
            <div class="select fL">

                #foreach($Category in $category)
                #if($Category.lv3_id == $lv3P)
                <p><a href="/categoryDetail?parent=0&menu_id=$Category.lv3_id&sort=1">$Category.lv3</a></p>
                #break
                #end
                #end
                <span class="grayArrow"></span>
                <div class="option">
                    #foreach($Category in $categoryList)
                    #if($Category.lv2_id == $parentCtg)
                    <ul>
                        <li class="fir">
                            <a href="/categoryDetail?parent=0&menu_id=$Category.lv3_id&sort=1">$Category.lv3</a>
                        </li>
                    </ul>
                    #end
                    #end

                </div>
                <!-- E : 하위 카테고리 기호-->
            </div>
        </div>
        <!--lnb-->

        <div class="balgeure_product_name">
            <div id="productName_top">
                [${choiceDetailProduct.product.brand.brandName}] ${choiceDetailProduct.product.prodName}
            </div>
        </div>


        <div class="dealDescription">

            <!-- //descImage -->
            <div class="descImage">
                <div class="descImageBig">
                    <img src="//sumcrimage.cafe24.com/$!{choiceDetailProduct.product.thumbUrl}" />
                </div>
            </div>
            <!-- //descImage -->

            <div class="descInformation" data-product-maxBuyLimit="0">
            
            <div id="productName_top" class="inmobile">
                [${choiceDetailProduct.product.brand.brandName}] ${choiceDetailProduct.product.prodName}
            </div>
            
                <div class="infoPrice">
                    <dl>
                        <dt class="descripe_tit">판매가</dt>
                        <dd class="priceCommon">
                            <span class="numTxt nuNumber">$number.format(${choiceDetailProduct.product.price}) 원</span>
                        </dd>
                    </dl>
                    #if(${choiceDetailProduct.product.sale} != 0)
                    <dl>
                        <dt class="descripe_tit">할인판매가</dt>
                        <dd class="discountRate">
                            <strong class="numTxt nuNumber">
                                $number.format($choiceDetailProduct.product.salePrice) 원
                                <span class="nuNumber rateNum">
                                    ${choiceDetailProduct.product.sale} <span class="percentage_symbol">%</span>
                                </span>
                            </strong>
                        </dd>
                    </dl>
                    #end
                </div>
                
                <div class="discount_ment">
                    #if($choiceDetailProduct.product.autoSale == 20)
                    	<p class="CouponEx">쿠폰 자동적용 20% 추가 할인가&nbsp;&nbsp;&nbsp;<span class="price">$number.format($math.sub($choiceDetailProduct.product.salePrice, $math.mul($choiceDetailProduct.product.salePrice, 0.20)))원</span>  <span class="small_percent"></span></p>
                    #elseif($choiceDetailProduct.product.autoSale == 10)
                    	<p class="CouponEx">쿠폰 자동적용 10% 추가 할인가&nbsp;&nbsp;&nbsp;<span class="price">$number.format($math.sub($choiceDetailProduct.product.salePrice, $math.mul($choiceDetailProduct.product.salePrice, 0.10)))원</span>  <span class="small_percent"></span></p>
                    #else
                    #end
                
                </div>
                
                <div class="infoAdditional">
                    <dl class="brandName_product">
                        <dt class="descripe_tit">브랜드</dt>
                        <dd class="compnayName">
                            <span>
                                ${choiceDetailProduct.product.brand.brandName}
                            </span>
                        </dd>
                    </dl>
                    
                    #if($foreach.index == 0)
                    <dl class="brandMade_product">
                        <dt class="descripe_tit">제조국</dt>
                        <dd class="compnayName">
                            <span>
                                ${pi.info8}
                            </span>
                        </dd>
                    </dl>
                    #end

                    <dl class="infoAdditionalInner">
                        <dt class="descripe_tit">배송비</dt>
                        <dd class="additionalDesc">
                            #if(${choiceDetailProduct.product.productDelivery.freeDelivery} != 0)
                            <span class="balgeurebox-deal-delivery-shipping">
                                배송비 $number.format(${choiceDetailProduct.product.productDelivery.deliveryPrice})
                                원
                            </span> &nbsp;&nbsp;
                            #end

                            #if(${choiceDetailProduct.product.productDelivery.freeDelivery} == 0)
                            <span class="balgeurebox-deal-delivery-free">무료배송</span>
                            #elseif(${choiceDetailProduct.product.productDelivery.freeDelivery} >= 1)
                            <span class="balgeurebox-deal-delivery-limitfree">
                                $number.format(${choiceDetailProduct.product.productDelivery.freeDelivery})원 이상 무료배송
                            </span>
                            #end
                        </dd>
                    </dl>
                    <dl class="infoAdditionalInner">
                        <dt class="descripe_tit">고객리뷰</dt>

                        <dd class="descReview">
                            #if($choiceDetailProduct.product.reviewStar == 0)
                            <span id="rPoint" class="numTxt nuNumber">
                            </span>
                            #else
                            <span id="rPoint" class="numTxt nuNumber">
                                ${choiceDetailProduct.product.reviewStar}점,
                            </span>
                            #end
                            <a href="#contents_Re" class="descToReview">
                                #if($choiceDetailProduct.product.reviewCount == 0)
                                <span id="rCnt" class="numTxt nuNumber">
                                </span>
                                #else
                                <span id="rCnt"
                                      class="numTxt nuNumber">
                                    ${choiceDetailProduct.product.reviewCount}건
                                </span>
                                #end
                            </a>
                        </dd>
                    </dl>
                </div>

                <div class="descInfoOption">
                    <!-- <dl class="infoItemOption ">
                        <dt class="descripe_tit" style=" padding-top: 3px;">옵션</dt>
                        <dd class="singleItem itemOptionBox fir" id="plusBasket">
                            <select class="choiceItem">
                                <option value="" selected="selected">상품을 선택해주세요.</option>
                                #foreach($item in $choiceDetailProduct.productItem)
                                <option value="$item.itemId|$item.price|$item.maxItemCnt|$item.itemName|$item.itemCnt">
                                    <div class="productCount">$!{item.itemName} / 남은 수량 $number.format($!{item.itemCnt})개</div><div class="productPrice">$number.format($choiceDetailProduct.product.salePrice)원</div>
                                </option>
                                #end
                            </select>
                        </dd>
                    </dl> -->
                    
                    <dl class="infoItemOption ">
                        <dt class="descripe_tit" style=" padding-top: 3px;">옵션</dt>
                        <dd class="singleItem itemOptionBox fir" id="plusBasket">
                            <p class="ChooseOPT">상품을 선택해 주세요.<span class="grayArrow">a</span></p>
                            <div class="selectListOPT">
                              <div class="selectList_scorll"> 
                                <ul class="product_option_list">
                                    #foreach($item in $choiceDetailProduct.productItem)
                                        <li data-index="$item.itemId|$item.price|$item.maxItemCnt|$item.itemName|$item.itemCnt" class="each_option_list_product">
                                            <span class="listOFproductOpt">
                                                <span class="NameOfOPT">$!{item.itemName}</span>
                                                <span class="QuantityOPT">/ 남은 수량 $number.format($!{item.itemCnt})개</span>
                                            </span>
                                            <span class="PriceOfOPT">$number.format($item.price)원</span>
                                        </li>
                                        #end
                                </ul>
                                </div>
                            </div>
                        </dd>
                    </dl>    
                    
                    
                    
                    <form action="" method="post" id="ReadingInfoSelectForm">
                    	<input type="hidden" name="prodName" value="[${choiceDetailProduct.product.brand.brandName}] ${choiceDetailProduct.product.prodName}"/>
                    	<input type="hidden" name="prodId" value="${choiceDetailProduct.product.productId}"/>
                    	<input type="hidden" name="freeDelivery" value="${choiceDetailProduct.product.productDelivery.freeDelivery}"/>
                    	<input type="hidden" name="deliveryPrice" value="${choiceDetailProduct.product.productDelivery.deliveryPrice}"/>
                    	<input type="hidden" name="thumbUrl" value="$!{choiceDetailProduct.product.thumbUrl}"/>
                    	<input type="hidden" name="prodDesc" value="$!{choiceDetailProduct.product.prodDesc}"/>
                    	<input type="hidden" name="prodSeller" value="${choiceDetailProduct.product.seller.userId}"/>
                    	#if(${choiceDetailProduct.product.sale} == 0)
                    	<input type="hidden" name="prodPrice" value="$!{choiceDetailProduct.product.price}"/>
                    	#else
                    	<input type="hidden" name="prodPrice" value="$!{choiceDetailProduct.product.salePrice}"/>
                    	#end
                    	#foreach($item in $choiceDetailProduct.productItem)
                    		<input type="hidden" name="itemName[$!{item.itemId}]" value="$!{item.itemName}"/>
                    	#end
                        <div class="selectedItemListBlock">
                            <div class="inner">
                                <ul id="orders1" class="orders"></ul>
                            </div>
                        </div>

                        <div class="OptionTotalPrice">
                            <div id="cartItem1" class="cartItem"></div>
                        </div>
                    </form>
                    <form action="$!{np_order}" method="post" id="naverOrderForm">
                    	<input type="hidden" id="ORDER_ID" name="ORDER_ID"/> 
                    	<input type="hidden" name="SHOP_ID" value="balgeure"/> 
                    	<input type="hidden" id="TOTAL_PRICE" name="TOTAL_PRICE"/>
                    </form>
                </div>



                <div class="descInfoBtn">
                    <div class="infoBtn">
                        <form name="cart" method="post"></form>

                        <span class="infoBtnCell purchaseBlock" data-test="true">
                            <button type="submit" class="btnDeal btnBal purchaseBtn" onclick="redirect($choiceDetailProduct.product.productId)">
                                <span class="btnTxt btnTxtPurchase">즉시구매</span>
                            </button>
                        </span>

                        <span class="infoBtnCell cartBlock">
                            <button class="btnDeal btnWhite cart submitBs" id="beforeSubmitBasket">
                                <span class="btnTxt btnTxtCart">장바구니</span>
                            </button>
                        </span>

                        #set($flag = false)
                        <!-- flag변수의 기본 값은 false -->
                        #foreach($wish in $Wish.wishList)
                        #if($choiceDetailProduct.product.productId == $wish.product.productId)
                        <!-- 현재 뿌려진 상품의 id와 wish list에 있는 상품 id가 같을 때 -->
                        <!-- 변수 flag의 값은 true로 바뀌고 foreach break -->
                        #set($flag = true)
                        <!-- flag변수 true -->
                        #break
                        #end
                        #end
                        <span class="infoBtnCell last">
                            #if($flag)
                            <button type="button" class="btnWish btnDeal btnWhite" onclick="wishOverlap();">
                                <span class="btnTxt btnTxtLike_icon"></span>
                                <span class="btnTxt btnTxtLike">찜</span>
                            </button>
                            #else
                            <button type="button" class="btnWish btnDeal btnWhite" onclick="wish(this, '${choiceDetailProduct.product.productId}');">
                                <span class="btnTxt btnTxtLike_icon"></span>
                                <span class="btnTxt btnTxtLike">찜</span>
                            </button>
                            #end
                        </span>
                        #if($!{isDev} == 1)
                        <script type="text/javascript" >
						//<![CDATA[     
						      naver.NaverPayButton.apply({         
						   	  BUTTON_KEY: "7A90A1E2-B7C3-4CCF-8354-D33187B5586D", // 페이에서 제공받은 버튼 인증 키 입력        
						   	  TYPE: "A", // 버튼 모음 종류 설정        
						   	  COLOR: 1, // 버튼 모음의 색 설정          
						   	  COUNT: 2, // 버튼 개수 설정. 구매하기 버튼만 있으면 1, 찜하기 버튼도 있으면 2를 입력.          
						   	  ENABLE: "Y", // 품절 등의 이유로 버튼 모음을 비활성화할 때에는 "N" 입력
						   	  BUY_BUTTON_HANDLER: buy_nc,
						   	  WISHLIST_BUTTON_HANDLER:wishlist_nc, // 찜하기 버튼 이벤트 Handler 함수 등록 
						   	  "":""     
						    }); 
						 //]]>
						 </script>
						 #end
                    </div>

                    <p class="selectedItemPrice">
                        <span class="tit">총 상품금액 <span class="colon">:</span></span>
                        <strong class="numTxt nuNumber">0</strong>
                        <span class="nuUnit">원</span>
                    </p>

                </div>

            </div>
        </div>

    </div>

    <!-- 연관 상품 추천 영역 시작 -->

    <div class="slide-v">
        <ul class="tab">
            <li class="is-selected changeTitle">
                <a href="#product-01"><span>실시간 인기템</span><span class="selectedIcon"></span></a>
            </li>
            <li class="changeTitle">
                <a href="#product-02"><span>관련 카테고리</span><span class="selectedIcon"></span></a>
            </li>
            <li class="changeTitle">
                <a href="#product-03"><span>브랜드</span><span class="selectedIcon"></span></a>
            </li>
        </ul>
        <div class="view-box">
            <ul class="list-wrap is-selected" id="product-01">
                #foreach($item2 in $popularI)
                <li>
                    <div id="productDetail_Item_List" class="productDetailItemWrap">
                        <div class="productDealContents">
                            <ul class="dealList">
                                <li class="segment_product_item">
                                    <div class="overBorder">
                                        <a href="/detail?product_id=${item2.productId}&sort=1">
                                            <div class="dealThumb">
                                                <div class="overBack"></div>
                                                <img src="//sumcrimage.cafe24.com/$!{item2.thumbUrl}" style="min-width: auto; height: auto;" />
                                            </div>

                                            <div class="dealBody">
                                                <div class="dealhead">
                                                    <span class="title" id="product_title_text">$!{item2.brand.brandName} / $!{item2.prodName}</span>
                                                </div>

                                                <div class="dealPrice">

                                                    <p class="price fL">
                                                        <span class="price_value">$number.format($!{item2.salePrice})</span>
                                                        <span class="unit">원</span>
                                                        <!--<span class="tilde">&sim;</span>-->
                                                    </p>

                                                </div>

                                            </div><!--dealBody-->
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                #end
            </ul>
            <ul class="list-wrap" id="product-02">
                #foreach($Cate in $cate)
                <li>
                    <div id="productDetail_Item_List" class="productDetailItemWrap">
                        <div class="productDealContents">
                            <ul class="dealList">
                                <li class="segment_product_item">
                                    <div class="overBorder">
                                        <a href="/detail?product_id=$Cate.productId&sort=1">
                                            <div class="dealThumb">
                                                <div class="overBack"></div>
                                                <img src="//sumcrimage.cafe24.com/$Cate.thumbUrl" style="min-width: auto; height: auto;" />
                                            </div>

                                            <div class="dealBody">
                                                <div class="dealhead">

                                                    <span class="title" id="product_title_text">$Cate.brand.brandName / $Cate.prodName</span>
                                                </div>

                                                <div class="dealPrice">


                                                    <p class="price fL">
                                                        <span class="price_value">$number.format($Cate.salePrice)</span>
                                                        <span class="unit">원</span>
                                                        <!--<span class="tilde">&sim;</span>-->
                                                    </p>

                                                </div>

                                            </div><!--dealBody-->
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                #end
            </ul>
            <ul class="list-wrap" id="product-03">
                #foreach($Brand in $brand2)
                <li>
                    <div id="productDetail_Item_List" class="productDetailItemWrap">
                        <div class="productDealContents">
                            <ul class="dealList">
                                <li class="segment_product_item">
                                    <div class="overBorder">
                                        <a href="/detail?product_id=${Brand.productId}&sort=1">
                                            <div class="dealThumb">
                                                <div class="overBack"></div>
                                                <img src="//sumcrimage.cafe24.com/$!{Brand.thumbUrl}" style="min-width: auto; height: auto;" />
                                            </div>

                                            <div class="dealBody">
                                                <div class="dealhead">

                                                    <span class="title" id="product_title_text">$!{Brand.brand.brandName} / $!{Brand.prodName}</span>
                                                </div>

                                                <div class="dealPrice">


                                                    <p class="price fL">
                                                        <span class="price_value">$number.format($!{Brand.salePrice})</span>
                                                        <span class="unit">원</span>
                                                        <!--<span class="tilde">&sim;</span>-->
                                                    </p>

                                                </div>

                                            </div><!--dealBody-->
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                #end
            </ul>
        </div>
    </div>


    <!-- 연관 상품 추천 영역 종료 -->

    <div class="dealContents">
        <div class="dealTabNav">
            <div class="balgeureTab">
                <div class="blageureTabInner" id="meneTab">
                    <ul class="js-scrollspy-nav">
                        <li class="tabItem on" id="ProductDetail">
                            <a href="#contents_Det">
                                <span class="tabTitle_on_ProdDetail">상품소개 </span>
                                <i class="tabArr"></i>
                            </a>
                        </li>

                        <li class="tabItem" id="ProductReview">
                            <a href="#contents_Re">
                                <span class="tabTitle_on_ProdDetail">
                                    고객리뷰(${choiceDetailProduct.product.reviewCount})
                                </span>

                                <i class="tabArr"></i>
                            </a>
                        </li>

                        <li class="tabItem" id="ProductInfo">
                            <a href="#contents_Info">
                                <span class="tabTitle_on_ProdDetail">상품정보</span>
                                <i class="tabArr"></i>
                            </a>
                        </li>
                        <li class="tabItem" id="ProductDelivery">
                            <a href="#content_Delivery">
                                <span class="tabTitle_on_ProdDetail">배송/교환/반품정보</span>
                                <i class="tabArr"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="product_detail_contents">
            <div id="contents_Det" class="contentsDetail">
                <p>&nbsp;</p>
                ${choiceDetailProduct.product.content}
                <p>&nbsp;</p>
            </div>

            <div id="contents_Re" class="contentsDetail">
                <div class="reviewTitle">
                    <h5 class="tit_review">고객리뷰</h5>
                    <div class="reviewTitleBtn">
                        #if($login)
                        <button class="inquiryBtn" type="button" ga-event="view,1:1문의" onclick="javascript:goQna();">1:1 문의하기</button>
                        #else
                        <button class="inquiryBtn" type="button" ga-event="view,1:1문의" onclick="javascript:needLogin();">1:1 문의하기</button>
                        #end
                    </div>
                    <p class="fL">고객리뷰는 구매 후기를 나누는 공간입니다. 결제 및 배송 관련 상품 문의는 1:1문의를 이용해주시면 빠르게 처리해드리겠습니다.</p>                   
                    <!--<button class="reviewBtn" type="button">리뷰쓰기</button>-->

                </div>


                #foreach($Rev in $review.content)
                <div class="ableToRead">
                    <div id="countOfreview">
                        <p class="text_tit">총 <span>$list.size($review.content)</span>개의 리뷰가 작성되어 있습니다.</p>
                    </div>
                    <div id="buyer_Review">
                        <div class="review_item_list">
                            <div class="Contents_review">
                                #if($Rev.star == 0.5)
                                <div id="given_score">
                                	<span class="star_reivew">
                                		<img src="/img/review/0.5.png" width="20" height="20">
                                		<img src="/img/review/0.png" width="20" height="20">
                                		<img src="/img/review/0.png" width="20" height="20">
                                		<img src="/img/review/0.png" width="20" height="20">
                                		<img src="/img/review/0.png" width="20" height="20">
                                	</span>
                                </div>
                                #elseif($Rev.star == 1)
                                <div id="given_score">
                                	<span class="star_reivew">
                                		<img src="/img/review/1.png" width="20" height="20">
                                		<img src="/img/review/0.png" width="20" height="20">
                                		<img src="/img/review/0.png" width="20" height="20">
                                		<img src="/img/review/0.png" width="20" height="20">
                                		<img src="/img/review/0.png" width="20" height="20">
                                	</span>
                                </div>
                                #elseif($Rev.star == 1.5)
                                <div id="given_score">
                                	<span class="star_reivew">
                                		<img src="/img/review/1.png" width="20" height="20">
                                		<img src="/img/review/0.5.png" width="20" height="20">
                                		<img src="/img/review/0.png" width="20" height="20">
                                		<img src="/img/review/0.png" width="20" height="20">
                                		<img src="/img/review/0.png" width="20" height="20">
                                	</span>
                                </div>
                                #elseif($Rev.star == 2)
                                <div id="given_score">
                                	<span class="star_reivew">
                                		<img src="/img/review/1.png" width="20" height="20">
                                		<img src="/img/review/1.png" width="20" height="20">
                                		<img src="/img/review/0.png" width="20" height="20">
                                		<img src="/img/review/0.png" width="20" height="20">
                                		<img src="/img/review/0.png" width="20" height="20">
                                	</span>
                                </div>
                                #elseif($Rev.star == 2.5)
                                <div id="given_score">
                                	<span class="star_reivew">
                                		<img src="/img/review/1.png" width="20" height="20">
                                		<img src="/img/review/1.png" width="20" height="20">
                                		<img src="/img/review/0.5.png" width="20" height="20">
                                		<img src="/img/review/0.png" width="20" height="20">
                                		<img src="/img/review/0.png" width="20" height="20">
                                	</span>
                                </div>
                                #elseif($Rev.star == 3)
                                <div id="given_score">
                                	<span class="star_reivew">
                                		<img src="/img/review/1.png" width="20" height="20">
                                		<img src="/img/review/1.png" width="20" height="20">
                                		<img src="/img/review/1.png" width="20" height="20">
                                		<img src="/img/review/0.png" width="20" height="20">
                                		<img src="/img/review/0.png" width="20" height="20">
                                	</span>
                                </div>
                                #elseif($Rev.star == 3.5)
                                <div id="given_score">
                                	<span class="star_reivew">
                                		<img src="/img/review/1.png" width="20" height="20">
                                		<img src="/img/review/1.png" width="20" height="20">
                                		<img src="/img/review/1.png" width="20" height="20">
                                		<img src="/img/review/0.5.png" width="20" height="20">
                                		<img src="/img/review/0.png" width="20" height="20">
                                	</span>
                                </div>
                                #elseif($Rev.star == 4)
                                <div id="given_score">
                                	<span class="star_reivew">
                                		<img src="/img/review/1.png" width="20" height="20">
                                		<img src="/img/review/1.png" width="20" height="20">
                                		<img src="/img/review/1.png" width="20" height="20">
                                		<img src="/img/review/1.png" width="20" height="20">
                                		<img src="/img/review/0.png" width="20" height="20">
                                	</span>
                                </div>
                                #elseif($Rev.star == 4.5)
                                <div id="given_score">
                                	<span class="star_reivew">
                                		<img src="/img/review/1.png" width="20" height="20">
                                		<img src="/img/review/1.png" width="20" height="20">
                                		<img src="/img/review/1.png" width="20" height="20">
                                		<img src="/img/review/1.png" width="20" height="20">
                                		<img src="/img/review/0.5.png" width="20" height="20">
                                	</span>
                                </div>
                                #elseif($Rev.star == 5)
                                <div id="given_score">
                                	<span class="star_reivew">
                                		<img src="/img/review/1.png" width="20" height="20">
                                		<img src="/img/review/1.png" width="20" height="20">
                                		<img src="/img/review/1.png" width="20" height="20">
                                		<img src="/img/review/1.png" width="20" height="20">
                                		<img src="/img/review/1.png" width="20" height="20">
                                	</span>
                                </div>
                                #end
                                
                                <div id="user_id"><span class="user_name">$Rev.user.name</span><span class="date_reivew">$date.format('yyyy-MM-dd', $Rev.regDate)</span></div>
                                <div id="written"><span>$Rev.content</span></div>
                                <!-- <div id="photo_upload"><img src="#" /></div> -->
                            </div>
                        </div>
                    </div>
                </div>
                #end


            </div>
        </div>

        <div id="contents_Info" class="contentsDetail">
            <div class="tableBox">
                <h3 class="tbHead">상품정보 안내</h3>
                #if($choiceDetailProduct.productItem.size() == 1)
                <p class="tbName">$choiceDetailProduct.productItem.get(0).itemName</p>
                #else
                <div class="infoItemOption ">
                    <div class="singleItem itemOptionBox fir">
                        <select id="selectInfo">
                            #foreach($item in $choiceDetailProduct.productItem)
                            <option value="$!{item.itemId}">
                                $!{item.itemName}
                            </option>
                            #end
                        </select>
                    </div>
                </div>
                #end
            </div>
            #foreach($item in $choiceDetailProduct.productItem)
            #if($choiceDetailProduct.productItem.size() == 1)
            <table cellpadding="0" cellspacing="0" style="" id="prodInfo$!{item.itemId}" class="information">
                #else
                #if($foreach.index == 0)
                <table cellpadding="0" cellspacing="0" style="" id="prodInfo$!{item.itemId}" class="information">
                    #else
                    <table cellpadding="0" cellspacing="0" style="display:none;" id="prodInfo$!{item.itemId}" class="information">
                        #end
                        #end
                        <tbody>
                            <tr>
                                <th>사이즈 / 용량 / 중량</th>
                                <td>#if($!{item.info1} == 0)해당사항 없음 #else $!{item.info1} #end</td>
                            </tr>
                            <tr>
                                <th>제품주요사양</th>
                                <td>#if($!{item.info2} == 0)해당사항 없음 #else $!{item.info2} #end</td>
                            </tr>
                            <tr>
                                <th>사용기한/개봉 후 사용시간</th>
                                <td>#if($!{item.info3} == 0)해당사항 없음 #else $!{item.info3} #end</td>
                            </tr>
                            <tr>
                                <th>제조/생산일자</th>
                                <td>#if($!{item.info4} == 0)해당사항 없음 #else $!{item.info4} #end</td>
                            </tr>
                            <tr>
                                <th>사용방법</th>
                                <td>#if($!{item.info5} == 0)해당사항 없음 #else $!{item.info5} #end</td>
                            </tr>
                            <tr>
                                <th>제조자</th>
                                <td>#if($!{item.info6} == 0)해당사항 없음 #else $!{item.info6} #end</td>
                            </tr>
                            <tr>
                                <th>제조판매업자</th>
                                <td>#if($!{item.info7} == 0)해당사항 없음 #else $!{item.info7} #end</td>
                            </tr>
                            <tr>
                                <th>제조국</th>
                                <td>#if($!{item.info8} == 0)해당사항 없음 #else $!{item.info8} #end</td>
                            </tr>
                            <tr>
                                <th>주요 성분</th>
                                <td>#if($!{item.info9} == 0)해당사항 없음 #else $!{item.info9} #end</td>
                            </tr>
                            <tr>
                                <th>식품의약품 안전청 심사필 유무</th>
                                <td>#if($!{item.info10} == 0)해당사항 없음 #else $!{item.info10} #end</td>
                            </tr>
                            <tr>
                                <th>사용시 주의사항</th>
                                <td>#if($!{item.info11} == 0)해당사항 없음 #else $!{item.info11} #end</td>
                            </tr>
                            <tr>
                                <th>품질보증기준</th>
                                <td>#if($!{item.info12} == 0)해당사항 없음 #else $!{item.info12} #end</td>
                            </tr>
                            <tr>
                                <th>소비자 상담관련 전화번호</th>
                                <td>#if($!{item.info13} == 0)해당사항 없음 #else $!{item.info13} #end</td>
                            </tr>
                        </tbody>
                    </table>
                    #end
        </div>

    <div id="content_Delivery" class="contentsDetail">
        <div class="tableBox">
            <h3 class="tbHead">배송 정보 안내</h3>
            <table class="delivery" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <th>배송유형</th>
                        #if($!{choiceDetailProduct.product.productDelivery.shippingType} == 0)
                        <td>일반택배</td>
                        #else
                        <td>자사택배</td>
                        #end
                    </tr>
                    <tr>
                        <th>배송방법</th>
                        <td>택배배송</td>
                    </tr>
                    <tr>
                        <th>배송사</th>
                        <td>$!{choiceDetailProduct.product.productDelivery.deliveryCompany.name}</td>
                    </tr>
                    <tr>
                        <th>배송비</th>
                        #if($!{choiceDetailProduct.product.productDelivery.freeDelivery} == 0)
                        <td>무료배송</td>
                        #elseif($!{choiceDetailProduct.product.productDelivery.freeDelivery} == -1)
                        <td>$number.format($!{choiceDetailProduct.product.productDelivery.deliveryPrice})원 (일부지역제외)<br /><span class="txtGray">주문 시 상품금액과 함께 배송비를 결제하셔야 합니다.</span></td>
                        #else
                        <td>$number.format($!{choiceDetailProduct.product.productDelivery.deliveryPrice})원 (일부지역제외)<br /><span class="txtGray">주문 시 상품금액과 함께 배송비를 결제하셔야 합니다.</span> </td>
                        #end
                    </tr>
                    <tr>
                        <th>배송정보</th>
                        <td>$!{choiceDetailProduct.product.productDelivery.deliveryDate}일 이내 출고 (토 일 공휴일 제외)</td>
                    </tr>

                    <tr>
                        <th>묶음배송</th>
                        <td>동일한 판매자 상품의 1회 결제 건에 한해서만 묶음배송 됨<br />(다회 구매에 따른 다회 결제 시 묶음배송 되지 않음)</td>
                    </tr>
                    <tr>
                        <th>특이사항</th>
                        <td>$!{choiceDetailProduct.product.productDelivery.uniqueness}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tableBox tbMargin">
            <h3 class="tbHead">교환 / 반품 / 환불 안내</h3>
            <table class="delivery" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <th>교환 및 반품 안내</th>
                        <td>고객센터 070-7703-0859</td>
                    </tr>
                    <tr>
                        <th>교환/반품 신청 기간</th>
                        <td>상품 수령 후 7일 이내로 고객센터 교환 및 반품 신청<br />(업체배송의 경우 교환/반품 절차가 업체별로 상이하오니 미미박스 고객센터의 안내에 따라제품을 반송 해주시면 됩니다.)</td>
                    </tr>
                    <tr>
                        <th>단순변심에 의한 환불/교환</th>
                        <td>고객센터 반품신청. 왕복배송비 고객부담<br />(배송비는 기본 5천원이나, 업체상품, 배송형태에 따라 왕복배송비 비용과 지불방식이 달라질 수 있습니다)<br />반송이 완료 되어야 환불/교환이 진행됩니다.<br />(재고가 없는 경우 환불처리 될 수 있습니다.)</td>
                    </tr>
                    <tr>
                        <th>제품하자 및 오배송에 의한<br />환불/교환</th>
                        <td>판매자 부담이므로 상품만 보내주시면 됩니다.</td>
                    </tr>
                    <tr>
                        <th>교환/반품 불가 사유</th>
                        <td>고객님의 단순변심으로 인한 교환/반품 요청이 상품을 수령한 날로부터 7일을 경과한 경우<br />포장을 개봉하여 사용 또는 일부 소비에 의하여 상품 등의 가치가 현저히 감소된 경우<br />상품을 개봉하여 설치/장착으로 상품의 가치가 훼손 된 경우<br />고객님의 책임 있는 사유로 상품등의 가치가 심하게 파손되거나 훼손된 경우<br />구매하신 상품의 구성품(사은품포함)이 누락된 경우<br />전자상거래 등에서 소비자보호에 관한 법률이 정하는 청약철회 제한 사유에 해당되는 경우</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
        <!-- E : 상품안내 -->
    </div>

     <div id="dealSimpleOption" class="bottom">
             <section>
                 <div class="simpleOptionInner">
                     <div class="simpleOptionContent">
                         <h1 class="infoTitle">
                             [${choiceDetailProduct.product.brand.brandName}] ${choiceDetailProduct.product.prodName}
                         </h1>

                         <div class="descInfoOption">
                             <div class="infoItemOption ">
                                 <div class="singleItem itemOptionBox fir">
                                     <select class="choiceItem">
                                         <option value="" class="selectedChoiceP">상품을 선택해주세요.</option>
                                         #foreach($item in $choiceDetailProduct.productItem)
                                         <option value="$item.itemId|$item.price|$item.maxItemCnt|$item.itemName">
                                             $!{item.itemName}
                                             / 남은 수량 $!{item.itemCnt}
                                         </option>
                                         #end
                                     </select>
                                 </div>
                             </div>

                             <div class="selectedItemListBlock">
                                 <div class="inner">
                                     <ul id="orders2" class="orders"></ul>
                                 </div>
                             </div>

                             <div class="OptionTotalPrice">
                             </div>
                             <div id="cartItem2" class="cartItem"></div>
                         </div>

                         <div class="descInfoBtn">
                             <div class="infoBtn">
                                 <span class="infoBtnCell purchaseBlock">
                                     <button type="submit" class="btnDeal btnBal purchaseBtn">
                                         <span class="btnTxt btnTxtPurchase">즉시구매</span>
                                     </button>
                                 </span>
                                 <span class="infoBtnCell cartBlock">
                                     <button class="btnDeal btnWhite cart submitBs" id="beforeSubmitBasket">
                                         <span class="btnTxt btnTxtCart">장바구니</span>
                                     </button>
                                 </span>
                                 <span class="infoBtnCell last">
                                     <button type="button" class="btnWish btnDeal btnWhite" id="wishBtn">
                                         <span class="btnTxt btnTxtLike">찜</span>
                                     </button>
                                 </span>
                             </div>

                             <p class="selectedItemPrice">
                                 <span class="tit">총 상품금액 <span class="colon">:</span></span>
                                 <strong class="numTxt nuNumber">0</strong>
                                 <span class="nuUnit">원</span>
                             </p>
                         </div>
                     </div>
                     <button type="button" class="btnSimpleOption">
                         <i class="btnSimpleArr">▾</i> <span class="btnSimpleTxt">간편옵션<br>선택<span class="simpleTxt">열기</span></span>
                     </button>
                 </div>
             </section>
         </div>



</div><!-- // dealContents -->
</div>
</div>

#parse("/main/footer.vm")

<!--장바구니 담기 팝업-->
<div class="cartPopupWrap" style="display:none;">
    <div class="cartPopupTitle">
        <p>장바구니 담기</p>
        <span class="close" id="cartClose"></span>
    </div>
    <div class="popupContents">
        <p class="subTitle">상품이 장바구니에 담겼습니다</p>
        <div class="cartList">
            <p class="dealTitle">
                [${choiceDetailProduct.product.brand.brandName}] ${choiceDetailProduct.product.prodName}
            </p>
        </div>
        <div class="oF">
            <a class="fL btn cart" id="goCartBtn" href="/basketList">
                장바구니로
                이동
            </a>
            <button class="fR btn back" id="shoppingBtn" data-dismiss="modal">계속 쇼핑하기</button>
        </div>
    </div>
</div>

<!-- //container -->

<script>
	$(function() {
		var first = $(".user_name").text().substring(0,1);
		var name = "**";
		var secretN = first.concat(" ",name);

		$(".user_name").text(secretN);
	});
</script>

<script>
	function needLogin() {
		alert("로그인이 필요합니다.");
	}
</script>

<script>
    $(function() {
    	$(".inquiryBtn").on('click', function() {
    		location.href="/my/qna";
    	});
    });
</script>

<script>
$(document).ready(function () {
	$('#selectInfo').on('change', function() {
		$('.information').css('display', 'none');
		$('#prodInfo'+$(this).val()).css('display', '');
	});

    $('.btnSimpleOption').on('click', function () {
        $targetEle = $('#dealSimpleOption');
        $containerEle = $('.dealContents');

        if ($targetEle.hasClass('open')) {
			$targetEle.removeClass('open');
			$containerEle.removeAttr('style');
            $('.simpleTxt').text('열기');
        } else {
            $targetEle.addClass('open');
            $('.simpleTxt').text('닫기');
        }

        return false
    });
});

var spy = new ScrollSpy('#meneTab', {
	nav: '.js-scrollspy-nav > li > a',
	className: 'on',
	callback: function (e) {
	}
});
</script>

## 찜하기
<script>
function wish(frm, p_id) {
	#if(!$!login)
		alert("로그인이 필요합니다.");
    		
    	window.location.href="/login";
		return;
	#end
	$.ajax ({
		type: "POST",
		url: "/wish/add?product_id="+p_id,
		contentType: false,
		processData: false,
		success: function(data) {
			if (data.resultCode == "200") {
				alert("해당 상품이 찜 목록에 추가 되었습니다.");
				getHeaderInfo();
			}
		},
		error: function(request, status, error) {
		}
	});
}

function wishOverlap() {
	alert('이미 찜한 상품입니다.');
}
</script>

## 즉시구매 및 장바구니 담기
<script>
    $(".purchaseBtn").on("click", function (event) {
    	#if(!$!login)
    		alert("로그인 하신 후 옵션을 선택해주세요.");
    	
    		window.location.href="/login";
    		return;
    	#end
        var formData = $("#ReadingInfoSelectForm").serialize();
        $.ajax({
            type: 'post',
            url: '/payment/order',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            processData: false,
            data: formData,
            success: function (data) {
                if(data) {
                    window.location.href = "/payment/order?q="+data;
                }
            },
            error: function (data, textStatus, errorThrown) {
                alert("옵션을 선택해주세요.");
            }
        });
    });

    function wrapEntirePage() {
        $('body').css('position', 'relative');
        $('body').css('overflow-y', 'hidden');
        $('body').css('overflow-x', 'hidden');
        $('.cover').css('display', 'block');
    }

    function unwrapEntirePage() {
        $('body').css('position', '');
        $('body').css('overflow-y', '');
        $('body').css('overflow-x', '');
        $('.cover').css('display', 'none');
    }

    $(".submitBs").on("click", function () {
    	#if(!$!login)
    		alert("로그인 하신 후 옵션을 선택해주세요.");
    		
    		window.location.href="/login";
    		return;
    	#end

        var formData = $("#ReadingInfoSelectForm").serialize();
        $.ajax({
            type: 'post',
            url: '/basketAdd',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            processData: false,
            data: formData,
            success: function (data) {
                if (data == "basketSucc") {
					//getHeaderInfo();
                    wrapEntirePage();
                    $('.cartPopupWrap').show();

                    $('#shoppingBtn').on('click', function (e) {
                        unwrapEntirePage();
                        $('.cartPopupWrap').hide();
                    });

                    $('#cartClose').on('click', function (e) {
                        unwrapEntirePage();
                        $('.cartPopupWrap').close();
                    });
                }
            },

            error: function (data, textStatus, errorThrown) {
                alert("옵션을 선택해주세요.");
            }
        });
    });
</script>


<script>
    ## ----- 상품 장바구니 이동 전 아이템(옵션) 선택 시작 -----
    var totalPrice = 0;
    var totalPrice2 = 0;

    $(document).ready(function () {
    	$('.ChooseOPT').on('click', function() {
    		
    		if ($('.selectListOPT').css('display') == 'none') {
    			$('.selectListOPT').css('display', 'block');
    		} else {
    			$('.selectListOPT').css('display', 'none');
    		}
    		
    		/* $(document).mouseup(function(e) {
    			var container = $('.selectListOPT');
    			if (container.has(e.target).length === 0)
    				$('.selectListOPT').css('display', 'none');
    		}); */
    		
    		
        	$('.each_option_list_product').on("click", function (event) {
				if($(this).attr("data-index") == "") {
					return;
				}

            var productCode = $(this).attr("data-index");
            var productText = productCode.split("|")[3];

            var itemId = (productCode.split("|")[0]);
            var productPrice = (productCode.split("|")[1]);
            var maxItemCnt = productCode.split("|")[2];
            var itemCnt = productCode.split("|")[4];
            var num = 1;
            var multiplePrice = productPrice * num;
            totalPrice += multiplePrice;
            
            if (itemCnt == 0) {
            	alert('품절된 상품입니다.');
            }

            if (checkDupl(itemId) && itemCnt != 0) {
                var orderHtml = '<span class="productOptionName">';
                orderHtml  += productText;
                orderHtml  += '</span>';
                orderHtml  += '<input type="hidden" name="items[]" value="' + itemId + '">';
                orderHtml += '<span class="numberQty"> ';

                orderHtml += '		<input id ="putinQty" class="upDown' + itemId + '" type="text" name="upDown[' + itemId + ']" value="1" readonly="readonly">';
                orderHtml += '		</input>';

                orderHtml += '		<button type="button" onclick="increaseQuantity(' + itemId + ',' + maxItemCnt + ',' + productPrice + ',' + itemCnt + ');" class="increaseQuantity" value="' + itemId + '"></button>';
                orderHtml += '		<button type="button" onclick="decreaseQuantity(' + itemId + ',' + productPrice + ');" class="decreaseQuantity" value="' + itemId + '"></button> ';

                orderHtml += '</span>';
                orderHtml += '<input type="hidden" name="items[' + itemId + '].price" value="' + productPrice + '" /> ';
                orderHtml += '<span class="sum_Price_each sum' + itemId + '"  name="getSum" id="sum' + itemId +'">' + multiplePrice + '</span><span class="Price_KR_dollar">원</span>';
                orderHtml += '<input type="button" class="orderRemoveButton" value="취소" />';

            } else {
            	$(".ChooseOPT").val("").prop("selected", "selected");
            	$('.selectListOPT').css('display', 'none');
            	return;
            }
            $('.selectListOPT').css('display', 'none');

            var liEl = $('<li/>').html(orderHtml).appendTo('.orders');

            liEl.find('.orderRemoveButton').on("click", function () {
                liEl.remove();
                sumBasket(itemId, productPrice, num);
                event.preventDefault();
                $('.selectListOPT').css('display', 'none');

            });

            sumBasket(itemId, productPrice, num);
            event.preventDefault();
            $(".ChooseOPT").val("").prop("selected", "selected");
        });
    });
    	});

    function increaseQuantity(itemId, maxItemCnt, productPrice, itemCnt) {
        var stat = $('.upDown' + itemId).val();
        var num = parseInt(stat, 10);
        if(maxItemCnt -1 > itemCnt) {
        	if (num >= itemCnt) {
        		 alert(itemCnt + '회 최대 구매 수량입니다.');
	            return;
        	}
        } else {
	        if (num > maxItemCnt - 1) {
	            alert(maxItemCnt + '회 최대 구매 수량입니다.');
	            return;
	        }
        }
        num++;
        $('.upDown' + itemId).val(num);
        sumBasket(itemId, productPrice, num);
    }

    function decreaseQuantity(itemId, productPrice) {
    	var stat = $('.upDown' + itemId).val();
        var num = parseInt(stat, 10);
        num--;
        if (num <= 0) {
            alert('더 이상 줄일수 없습니다.');
            num = 1;
        }
        $('.upDown' + itemId).val(num);
        sumBasket(itemId, productPrice, num);
    }

    //    상품 단가의 구입 개수를 곱한 부분합
    function sumBasket(itemId, productPrice, num) {
        var toSum = productPrice * num;
        console.log(productPrice);
        console.log(num);
        console.log(toSum);
        $('.sum' + itemId).text($.number(toSum));
        var totalSum = 0;
        $('span[name=getSum]').each(function () {
            totalSum += parseInt(unNumberFormat($(this).text()));
            totalSum2 = totalSum/2;
        });
        $('.cartItem').html("<span id=\"total_txt\">총 상품금액 : </span><span id=\"SumProductP\"> " + $.number(totalSum2) + "</span><span id=\"KR_won\">원</span>");
        console.log(totalSum2);
        $("#TOTAL_PRICE").val(totalSum2);
    }

	//콤마제거
	function unNumberFormat(num) {
		return (num.replace(/\,/g,""));
	}

    //    옵션 같은 상품 선택 중복 체크 - 중복이라면 아무런 작동 안 되게!
    function checkDupl(itemId) {
        var valId = "sum" + itemId;

        var valAttr = true;

        $('span[name=getSum]').each(function () {
            var attrId = $(this).attr("id");
            if (valId == attrId ) {
                valAttr = false;
                return;
            }

        });
        return valAttr;
    }
    ## ----- 상품 장바구니 이동 전 아이템(옵션) 선택 끝 -----

</script>


## ----- 컨텐츠 고정바 & 하단 간편옵션 -----

<script>
    function contentsFixedElement() {
        var $contentsNav = $('.dealTabNav');
        var $simpleOption = $('#dealSimpleOption');
        var navOffset = $contentsNav.offset().top;
        var offsetBasis = navOffset + $('.dealContents').outerHeight();
        var bottomOfScreen = $(window).scrollTop() + $(window).height();
        var scroll = $(window).scrollTop();

        if (scroll >= navOffset && scroll < offsetBasis - $contentsNav.height() -6) {
            $('.balgeureTab').addClass('fixed');
            //$simpleOption.show()
            ;
            if ($('#dealSimpleOption').length > 0) {
                if (bottomOfScreen > offsetBasis) {
                   $('#dealSimpleOption').addClass('bottom');
                }
                else {
                   $('#dealSimpleOption').removeClass('bottom');
                }
            }
        } else {
            $('.balgeureTab').removeClass('fixed');
            $('#dealSimpleOption').addClass('bottom');
            //$simpleOption.hide();
        }
    }

    contentsFixedElement();
</script>

## ----- 컨텐츠 고정바 & 하단 간편옵션 -----


## top Btn
<script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction();
        contentsFixedElement();
    };

    function scrollFunction() {
        if (document.body.scrollTop > 0 || document.documentElement.scrollTop > 0) {
            document.getElementById("myBtn").style.display = "block";
        } else {
            document.getElementById("myBtn").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>



## 리뷰 관련
<script>
$("#listButton").on("click", function (event) {
    event.preventDefault();

    var product_id = "${choiceDetailProduct.product.productId}";

    var photoValues = $("#photo").val();

    var sortValues = $("#sort").val();

    var allData = {"product_id": product_id, "photo": photoValues, "sort": sortValues};

    $.ajax({
        type: 'get',
        url: '/review/list/0',
        contentType: 'application/json',
        data: allData,
        dataType: 'text',
        success: function (data) {
            $("#listDiv").html(data);
        },
        error: function (data, textStatus, errorThrown) {
            alert("에러! \n" + data + "\n" + textStatus + "\n" + errorThrown);
        }
    });
});
</script>
