
a {
	text-decoration: none;
	color: #333;
}

.hover {
	position: relative;
}

.hover:hover .brand {
	display: block;
}
/*.hover:hover>a{color:fuchsia;}*/
.hover>a {
	display: block;
}

.brand {
	position: absolute;
	top: 100%;
	left: 0;
	width: 206px;
	overflow: hidden;
	border: 1px solid #e1e1e1;
	display: none;
	height: 510px;
	background-color: #fff;
}

.brand>div {
	float: left;
}

.b_nav {
	width: 39px;
	border-right: 1px solid #e1e1e1;
	height: 510px;
    background: #f5f5f5;
}

.b_nav .nav_list_head{
	float: none !important;
}

.b_nav li{
	list-type:none;
}

.b_nav li a {
	display: block;
	line-height: 30px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #aaa;
	font-family: ³ª´®°íµñ, NanumGothic, µ¸¿ò, Dotum, AppleSDGothic, AppleGothic, ±¼¸², Gulim, sans-serif;
}

.b_nav li a:hover {
	color: #ff7391 !important;
}

.b_nav li a.on {
	color: #ff7391 !important;
}

.b_content {
	width: 166px;
    height: 510px;
	overflow: auto;
}

.b_last {
	position: relative;
	padding: 5px;
}

.b_last li{
	float: none !important;
}

.brand_alphabet {
	position: relative;
	margin-bottom: 1px;
	padding: 1px;
}

.company_name_list a {
	display: block;
	font-size: 12px;
	line-height: 24px;
    padding: 6px 20px 5px;
    text-decoration: none;
    font-family: ³ª´®°íµñ, NanumGothic, µ¸¿ò, Dotum, AppleSDGothic, AppleGothic, ±¼¸², Gulim, sans-serif;
	
	
}

.b_last>div ul li a:hover {
	color: #ff7391 !important;
}
