@media only screen and (max-width: 767px) {

    /** 장바구니 css    Start  **/


    .cartPage {
        width: 100% !important;
    }

    .CartPage_tit {
        padding: 0 10px;
        margin-bottom: 22px !important;
    }

        .CartPage_tit .BIG {
            font-size: 16px !important;
        }

    .cartListHeader {
        display: table !important;
    }

    .cartHeaderRow td {
        height: 30px;
        line-height: 30px;
        font-size: 12px;
        background-color: #f0f0f0;
        border-top: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;
        color: #6a6a6a;
        font-family: '나눔고딕', NanumGothic, '돋움', Dotum, AppleSDGothic, AppleGothic, '굴림', Gulim, sans-serif;
        font-weight: 600;
        text-align: center;
    }

    .cartHeaderRow .header_col1 {
        width: 10%;
    }

    .cartHeaderRow .header_col2 {
        width: 90%;
    }

    table.cartList {
        width: 100% !important;
    }

    table.cartList td.check {
        width: 10%;
        padding: 15px 10px !important;
    }

    table.cartList td.check input[type="checkbox"] {
        margin: 0 !important;
    }

    table.cartList td.itemInfo {
        width: 90% !important;
    }

    table.cartList img {
        width: 70px !important;
        height: 70px !important;
        margin-right: 0px !important;
    }

    .itemInfo .product_NameOpt {
        display: inline-block;
        width: 71%;
    }

    table.cartList .productName {
        width: 100% !important;
        margin: 5px 0 !important;
        white-space: initial !important;
    }

    .cartList .productName a {
        font-size: 12px !important;
        font-weight: 600 !important;
    }

    .product_NameOpt .productOpt {
        float: left;
    }

    .productOpt .OPT_Product {
        width: 100%;
        background: #f7f7f7;
    }

    .cartList .optionTitle .mark_O {
        background: url(/img/balgeure_icons.png) no-repeat -1283px -34px !important;
        height: 15px !important;
    }

    .cartList .optionTitle {
        font-size: 11px !important;
        padding: 3px !important;
    }

    .cartList .OPT_Product th, .cartList .OPT_Product td {
        line-height: 17px !important;
    }

    .cartList .selectPrice {
        padding-right: 4px !important;
    }

    table.cartList select {
        width: 39px !important;
    }

    .cartList .select_PPrice {
        padding-right: 0 !important;
    }

    .OPT_Produc .delete{
        width: 19px;
    }

    .cartList .delete #removeBtn {
        width: 15px !important;
        height: 15px !important;
        background: url('/img/mobile/cart_delete_btn.png') no-repeat !important;
        background-size: 15px !important;
        margin: 2px !important;
    }    
    
    .product_DeliPrice{
        border-top: 1px dashed #ff7391;
        border-bottom: 1px solid #eaeaea;
        font-size: 12px;
        padding: 5px 20px;
        background: #fcfcfc;
    }
    
    .product_DeliPrice .deliveryprice{
        float: left;
    }
    
    .product_DeliPrice .deliveryprice .limit.unit{
        font-weight: 500;
        padding-left: 39px;
    }

    .product_DeliPrice .finalprice{
        float: right;
    }
    
    .product_DeliPrice .paydeliv, .product_DeliPrice .payprice{
        padding-right: 3px;
    }
    
    .cartPage .cartWrap{
        margin-bottom: 70px !important;
    }
    
    .cB .priceWrap{
        border: 3px solid #c6c6c6;
        width : 98% !important;
        font-size: 13px;
        font-weight: 600;
    }
    
    .cB .priceWrap .Total_P_price{
        text-align: right;
        padding: 5px 15px 0;
    }
    
    .cB .priceWrap .Total_deliveryCharge{
        text-align: right;
        padding: 5px 15px 0;
    }
    
    .priceWrap .Total_deliveryCharge .plusBig{
        position: absolute;
        left: 15px;
        display: block;
        top: 34px;
        width: 12px !important;
        height: 12px !important;
        background: url(/img/mobile/cart_calculicon.png) no-repeat 0 0 !important;
        background-size: 26px auto !important;
    }

    .priceWrap .totalPrice.last{
        text-align: right;
        padding: 2px 11px 5px;
        font-size: 14px;
        color: #ff7391;
        margin: 3px 5px 0;
        border-top: 4px double #ff7391;
    }
    
    .priceWrap .totalPrice.last .equalBig{
        position: absolute;
        left: 15px;
        display: block;
        top: 62px;
        width: 12px !important;
        height: 12px !important;
        background: url(/img/mobile/cart_calculicon.png) no-repeat -14px 0 !important;
        background-size: 26px auto !important;
    }
    
    .cartPage .btnWrap{
        width: 100% !important;
        margin-top: 15px;
        height: auto !important;
        text-align: justify;
    }
    
    .cartPage .btnWrap #prevBasket{
        text-align: left !important;     
        background: url(/img/mobile/cart_paymentBtn.png) no-repeat 3px -38px !important;
        background-size: 135px auto !important;
        width: 135px !important;
        height: 57px !important;
    }
    
    .cartPage .btnWrap #directBasket{
        text-align: right !important;   
        background: url(/img/mobile/cart_paymentBtn.png) no-repeat 3px 0px !important;
        background-size: 135px auto !important;
        width: 135px !important;
        height: 42px !important;
    }

    /** 장바구니 css    End  **/


}
