@media only screen and (max-width: 767px) {

/**  Common css  Start  **/
	
    body{
        width:100%;
        margin:0 auto;
        padding:0;
    }

    #wrap{
        width: 100% !important;
        min-width: 320px !important;
        max-width: 767px !important;
    }
    
    #footer{
        margin-top:0 !important;
    }
           	
	#Pc_Ver{
        display: none;	
	}
    
    .quickmenu_right{
        display:none;    
    }
    
/**  Common css  End  **/

}