@media only screen and (max-width: 767px) {
	
	

    

    
    /**  Payment css  Start  **/

    .container_order{
        width: 100% !important;
        margin: 0 !important;
    }

    .order_page_header{
        margin: 15px 0 !important;
        padding: 12px 0 0;
    }

    .bigtitle_order_page{
         font-size: 16px !important;
         line-height: 19px !important;
         padding: 10px 0 0 !important;
    }

    .under_header_txt{
        font-size: 12px !important;
    }

    #Leftside_orderpage{
        width: 100% !important;
        float:none !important;
    }

    .will_buying_product_list{
        width: 100% !important;
    }

    .buying_list_detail_txt{
        margin: 0px 0 10px !important;
    }

    .buying_list_detail_txt h2{
        font-size: 14px !important;
        line-height: 17px !important;
    }

    .delivery_product_lits .table.table-condensed td{
        padding: 5px 3px !important;
    }

    .delivery_product_lits .table.table-condensed .Product_Price_td{
        padding-right: 8px !important;
    }

    .insert_address_formBox{
        width: 100% !important;
    }

    .delivery_personal_info{
        margin: 35px 0 0px !important;
    }

    .delivery_personal_info h1{
        font-size: 14px !important;
    }

    .page-header h1{
        height: 35px !important;
    }

    .basicInfo #head_txt{
        padding: 3px !important;
    }

    .basicInfo #deliName, .basicInfo #deliPhone, .basicInfo #deliAddr1, .basicInfo #deliAddr2{
        width: 100% !important;
    }

    .basicInfo #deliZip{
        width: 28% !important;
    }

    .delivery_msg{
        width: 100% !important;
    }

    .delivery_msg_rest{
        width: 97% !important;
    }

    .notice{
        font-size: 12px;
    }

    .Rightside_orderpage{
        width: 100% !important;
        float:none !important;
        left: inherit !important;
        position: relative !important;
        top: 0 !important;
        margin-bottom: 30px;
    }
    
    .select_bank_info #option-of-bank-name {
        width: 99% !important;
    }
    
    .select_bank_info #typing-of-account-number {
        width: 98% !important;
    }
    
    .final_All_Price .finalPay_agree{
        height: 56px !important;
    }
    
    .final_All_Price .finalPay_agree #description{
        width: 70% !important;
    }

    /**  Payment  css  End  **/

	
	
}