<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>발그레 : 싸게샀다 발그레에서 ~</title>
</head>
<body>

    <link href="/css/member_css.css" rel="stylesheet" type="text/css">
    
    
        <!-- 모바일 버전 css -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/mobile/member_css.css" rel="stylesheet" type="text/css">
    <!-- 모바일 버전 css -->	
    
   
    
    <script src="//code.jquery.com/jquery-latest.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script src="/webjars/jquery-validation/1.16.0/jquery.validate.min.js"></script>
	<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
	<script src="//connect.facebook.net/ko_KR/all.js"></script>

    <body ondragstart="return false">
    <input type="hidden" id="act" value="I"/>

    <div class="container_join">
        <div class="layout-content">
                <div id="joinUs_title">
                    <div class="balgeure_logo">
                        <h2 class="logoimage">
                            <a href="/main">
                                <img src="/img/login/balgeure_logo.png">
                            </a>
                        </h2>
                    </div>
                    <div class="balgeure_join_location">
                        <div class="location_page">
                            <ul class="join-step-navi">
                                <li class="location_tit current_page">
                                    <span>회원가입</span>                                    
                                </li>
                                <li class="location_tit">
                                    <span class="rightside_bar">></span>
                                    <span>약관동의</span>
                                </li>
                                <li class="location_tit">
                                    <span class="rightside_bar">></span>
                                    <span>정보입력</span>
                                </li>
                                <li class="location_tit">
                                    <span class="rightside_bar">></span>
                                    <span>가입완료</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            <div class="choose_join_balgeure">
                <div class="welcome_msg_balgeure">
                    <span>이메일 주소 혹은 SNS 계정으로 간편하게 회원가입 가능합니다.</span>
                </div>

                <ul class="joinUS_byChannel">

                    <li class="joinUS_byChannel-list">
                        <a class="optionOFemail" href="/mailJoinAgree">
                            <span class="eamil_icon  JoinBySNS">
                                <img src="/img/login/email_icon.png">
                            </span>
                            <span class="JoinUs-text">
                                이메일 계정으로 회원가입
                            </span>
                        </a>
                    </li>

                    <li class="joinUS_byChannel-list">
                        <a class="optionOFnaver" onclick="snsLogin('N');" style="cursor:pointer;" id="naverLogin">
                            <span class="naver_icon  JoinBySNS">
                                <img src="/img/login/naver_icon.png">
                            </span>
                            <span class="JoinUs-text">
                                네이버 계정으로 회원가입
                            </span>
                        </a>
                    </li>

                    <li class="joinUS_byChannel-list">
                        <a class="optionOFfacebook" onclick="snsLogin('F');" style="cursor:pointer;" id="facebookLogin">
                            <span class="facebook_icon JoinBySNS">
                                <img src="/img/login/fb_icon.png">
                            </span>
                            <span class="JoinUs-text">
                                페이스북 계정으로 회원가입
                            </span>
                        </a>
                    </li>
                    
                    <li class="joinUS_byChannel-list" onclick="snsLogin('K');" style="cursor:pointer;" id="kakaoLogin">
                        <a class="optionOFkakaotalk">
                            <span class="kakaotalk_icon  JoinBySNS">
                                <img src="/img/login/kakaotalk_icon.png">
                            </span>
                            <span class="JoinUs-text">
                                카카오 계정으로 회원가입
                            </span>
                        </a>
                    </li>

                </ul>
            </div>

        </div>
    </div>
    
<script>
function getUserData() {
    /* FB.api('/me', function(response) {
        document.getElementById('response').innerHTML = 'Hello ' + response.name;
        console.log(response);
    }); */
    FB.api('/me', {fields: 'name,email,gender,birthday'}, function(response) {
        
        var mail = response.email;
    	var login = response.id;
		var type = "F";
		var name = response.name;

		var formData = new FormData();

		formData.append("login", login);
		formData.append("type", type);

		$.ajax({
			type: "post",
			url: "/sns/login",
			data: formData,
			contentType: false,
			processData: false,
			success: function(res) {
			    console.log(res);
			    if (res == "success") {
			    	location.href="/main";
			    } else {
			    	location.href="/snsJoinAgree?Type="+type+"&Email="+mail+"&NickName="+name+"&sns_id="+login;
			    }
			},
			error: function(request,status,error) {
			    alert('아이디 또는 비밀번호를 확인해 주세요.');
			},
	    });
    });
    
}
  
window.fbAsyncInit = function() {
    //SDK loaded, initialize it
    FB.init({
        appId      : /* '1918524211727467', */ '774053909386228',     /* '232664117179969' */
        cookie     : false,  // enable cookies to allow the server to access
        status : true,         // 로그인 상태를 확인
        xfbml      : true,  // parse social plugins on this page
    });
  
    //check user session and refresh it
    
    FB.getLoginStatus(function(response) {
        if (response.status === 'connected') {
            //user is authorized
            //document.getElementById('loginBtn').style.display = 'none';
            FB.logout();
            
        } else {
            FB.logout();
        }
    });
    
};
  
//load the JavaScript SDK
(function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.com/ko_KR/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
  
//add event listener to login button
document.getElementById('facebookLogin').addEventListener('click', function() {
    //do the login
    FB.login(function(response) {
        if (response.authResponse) {
            getUserData();
        }
    }, {scope: 'email,public_profile,user_birthday',
        return_scopes: true});
}, false);

</script>
    
<script>
	function snsLogin(type) {
		if(type == 'N') {
			naver_logout();
			// 파라미터로 N을 받으면 naver logut을 호출해서 로그인을 초기화 시킨다.
		} else if(type == 'F') {
			FB.getLoginStatus(function(response) {
				if(response.status == 'connected' || response.status == 'not_authorized') {
					FB.logout();
				}
			});
			//FB.logout();
		} else if(type == 'K') {
			Kakao.Auth.logout(
                function(obj) {
                	openNewWindow("/kakao/login");
            	}
            );

		}
	}
	
	
	$(document).ready(function () {
     	Kakao.init('71fb3c875e19ee24c57124b06f983a1a');
     	$("#Login_balgeure_form").validate({
    		rules: {
    			username : {
    				required : true
    			},
    			password : {
    				required : true
    			}
    		},
    		messages: {
    			username: { required: "아이디를 입력하세요" },
    			password: { required: "비밀번호를 입력하세요" }

    		}, submitHandler: function(form) {
    				login();
    			   return false;
    		}
    	});
     });
	
		
	function openNewWindow(url) {
		  var name = '_blank';
		  var specs = 'menubar=no,status=no,toolbar=no, width=409, height=433';
		  var newWindow = window.open(url, name, specs);
		  newWindow.focus();
	}
	
	
	function getReturnValue(returnValue) {
		if(returnValue.id) {
   			console.log(returnValue);
			var Id = returnValue.id;
			var Type = returnValue.type;
			var NickName = returnValue.nickname;
			var Email = returnValue.email;
			var status = returnValue.status;
			
			if(returnValue.status == '200') {
				alert("반갑습니다." + NickName+"님");
				location.href="/main";
			} else {
				location.href="/snsJoinAgree?Type="+Type+"&NickName="+NickName+"&Email="+Email+"&sns_id="+Id;
			}
		}
	}
		
		/* function getReturnValue(returnValue) {
			if(returnValue.id) {
				if($("#act").val() == "I") {
					$("#login").val(returnValue.id);
					$("#type").val(returnValue.type);
					$("#snslogin").submit();
				} else {
					snsCallback(returnValue.id, returnValue.type);
				}
			}
		} */
		
		function naver_logout() {
			$("body").append("<iframe id='logoutframe' style='display: none;'></iframe>");
			$("#logoutframe").attr("src", "http://nid.naver.com/nidlogin.logout");
			setTimeout(function() {
				openNewWindow("/naver/login");
			}, 2000); // 2000ms(2초)가 경과하면 이 함수가 실행됩니다.
		}
</script>
</body>
</html>