#parse("/main/header.vm")

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link type="text/css" href="/css/event_list_page.css" rel="stylesheet" />
	    



<div id="container">

    <div class="quickmenu_right" id="quickmenu_right">

        <div class="banner_first">
          

            <div class="banner_first_images mySlides">
                <a href="/event?eid=34">
                    <img src="/img/right_side/rightside_banner3.png" alt="Flalia 단독쿠폰 10%">
                </a>
            </div>
            <div class="banner_first_page">
                <button class="prev1" onclick="plusDivs(-1)">이전</button>
                <button class="next1" onclick="plusDivs(1)">다음</button>
            </div>
        </div>
        <div class="banner_second">
            <div class="banner_second_images">
                <a href="/event?eid=30">
                    <img src="/img/right_side/rightside_banner4.png" alt="20%쿠폰발급">
                </a>
            </div>
            
            <div class="banner_second_images">
                <a href="/sns/appDown">
                    <img src="/img/right_side/rightside_banner2.png" alt="발그레 앱 다운로드">
                </a>
            </div>
            
            <div class="banner_second_page">
                <button class="prev2" onclick="plusdivs(-1)">이전</button>
                <button class="next2" onclick="plusdivs(1)">다음</button>
            </div>
        </div>
        <div class="Topbutton">
            <a href="#wrap" class="goTobtn"><img src="/img/right_side/topbutton.png"></a>
        </div>
    </div>



$!{event.content}

</div>





#parse("/main/footer.vm")

<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("banner_first_images");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 3000); // Change image every 3 seconds
}

</script>

<script>
var slideIndex = 1;
showdivs2(slideIndex);

function plusdivs(n) {
  showdivs2(slideIndex += n);
}


function showdivs2(n) {
	  var i;
	  var x = document.getElementsByClassName("banner_second_images");
	  if (n > x.length) {slideIndex = 1}
	  if (n < 1) {slideIndex = x.length}
	  for (i = 0; i < x.length; i++) {
	     x[i].style.display = "none";
	  }
	  x[slideIndex-1].style.display = "block";
	}

</script>


<script>
var myIndex = 0;
carousel2();

function carousel2() {
    var i;
    var x = document.getElementsByClassName("banner_second_images");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel2, 2000); // Change image every 2 seconds
}

</script>



<script type="text/javascript">
$(document).ready(function() {
	var defY = 12;
	console.log($(document).scrollTop());
	if($(document).scrollTop() > 0) {
		defY = $(document).scrollTop() - 188	;
	}
 /* quick menu */
 $(".quickmenu_right").animate( { "top": defY +"px" }, 100 ); // 빼도 된다.
 $(window).scroll(function(){
	 if ($(document).scrollTop() < 400) {
  		$(".quickmenu_right").stop().animate( { "top": 12 +"px" }, 0 );
	 } else {
  		$(".quickmenu_right").stop().animate( { "top": $(document).scrollTop() + -188 + "px" }, 0 );
	 }
 });
});

</script>



<script>
	$(document).ready(function () {
		$(".mycoupon").bind("click", function() {
			#if($login)
				location.href = '/my/coupon';
			#else
				alert("로그인 후 사용 해 주세요.");
			#end
		});
		
		$(".login").bind("click", function() {
			#if($login)
				location.href = '/regist';
			#else
				alert("로그인 후 사용 해 주세요.");
			#end
		});
		
		$(".coupon").bind("click",function(){
			var c_id = $(this).attr('class');
	        var coupon_id = c_id.split(" "); 
	        #if($login)
	        	 $.ajax({
	                 type: "post",
	                 url: "/event/download_coupon?cp_id="+coupon_id[1],
	                 success: function (data) {
						if(data == '200'){
							alert("축하합니다!\n쿠폰이 발급되었습니다.");
						} else if(data == '20'){
							alert("쿠폰 수량이 소진되었습니다.");
						} else if(data == '30'){
							alert("이미 쿠폰을 다운받았습니다.");
						} else{
							alert("쿠폰 다운이 실패했습니다.");
						}
	                 },
	                 error: function (e) {
	                     alert("전송에 실패했습니다.");
	                 }
	             });
			#else
				alert("로그인 후 사용 해 주세요.");
			#end
		});
	});
</script>
